*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.firsthead{
width: 100%;
height: 120px;
background-color:#002749;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 15px;
}

.schoolphotoname{
display: flex;
align-items: center;
}

.firsthead img{
width: 100px;
}

.firsthead h1{
color: yellow;
margin-left: 15px;
font-family: 'Signika', sans-serif;
font-size: 28px;
}

.timing{font-family: 'Poppins', sans-serif;
color: white;
font-size: 13px;
border-left: 0.5px solid rgba(255, 255, 255, 0.219);
padding:5px 10px;
font-weight: bold;
}



.timing section{
    display: flex;

}

.timing section:nth-child(2){
    margin-top: 10px;
}

.timing section i{
    width: 20px;
    text-align: center;
    display: block;
    color: yellow;
    font-size: 18px;
    padding-top: 2px;
}

.timing section p{
display: flex;
align-items: center;
margin-left: 10px;
margin-top: 5px;
}

.sechead{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 100%;
    
}

.sechead > a i{
    display:none;
}

.sechead ul{
display:flex;
}

.sechead ul li{
    list-style: none;
    font-size: 16px;
    z-index: 1;
    position: relative;
    transition: all .2s;
    font-family: 'Poppins', sans-serif;
}

.sechead ul .firstli{
    background-color: #002749;
}

.sechead ul .firstli a{
    color: white;
}

.sechead ul li a{
    height: 50px;
    width: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #002749;
    
}

.sechead ul li a i{
    margin-left: 10px;
}

.sechead ul ul{
    display: none;
}

.sechead ul ul li{
    background-color: red;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
}

.sechead ul ul li a{
    color: white;
}

.sechead ul li:first-child:hover{
    background-color: yellow;
}

.sechead ul > li:hover{
    background-color: yellow;
}

.sechead ul li:hover > a{
    color: rgb(255, 0, 0);
}

.sechead ul li:hover > ul{
    display: block;
    position: absolute;
    top: 100%;
}

.sechead ul ul{
    display: none;
}

main input{
    display: none;
}

.menu{
    display: none;
}

.sechead label i{
    display: none;
}


.bgimg{
    background-image: url(../image/5.4.jpg);
background-size: 100% 100%;
height: 500px;
animation: opacity 20s infinite linear;
animation-delay: 5s;
}

@keyframes opacity{
    0%{
        background-image: url(../image/5.4.jpg);
    }

    10%{
        background-image: url(../image/5.4.jpg);
    }

    20%{
        background-image: url(../image/7.jpg);
    }

    30%{
        background-image: url(../image/7.jpg);
    }

    40%{
        background-image: url(../image/14.jpg);
    }

    50%{
        background-image: url(../image/14.jpg);
    }

    60%{
        background-image: url(../image/3.9.jpg);
    }
    70%{
        background-image: url(../image/3.9.jpg);
    }

    80%{
        background-image: url(../image/3.3.jpg);
    }

    90%{
        background-image: url(../image/3.3.jpg);
    }

    100%{
        background-image: url(../image/5.4.jpg);
    }
}



.rgba{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient( 45deg ,rgba(0, 0, 0, 0.945) ,rgba(0,0,0,0.3));
}



.bgimg h1{
color: white;
font-size: 70px;
animation-name: slide;
position: absolute;
font-family: 'Poppins', sans-serif;
top: 50%;
left: -100%;
animation-fill-mode: forwards;
animation-duration: 3s;
animation-delay: 2s;
}


@keyframes slide{

    from{
        position: absolute;
        left: -100%;
        top: 50%;
        transform: translate(-50% , -50%);
    }

    to{
        position: absolute;
        left:35%;
        top: 50%;
        transform: translate(-50% , -50%);
    }
}

.ourfacilities{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.facilitieshead{
width: 100%;
}

.facilitieshead h1{
text-align: center;
font-family: 'Poppins', sans-serif;
margin-top: 40px;
color: rgb(83, 83, 83);
}

.facilities{
margin-top: 30px;
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.fac{background-color:darkred;
width: 285px;
border-radius: 5px;
overflow: hidden;
margin: 15px;
box-shadow: 5px 5px 10px 0px;
}

.fac figure{
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden;
}

.fac figure img{
width: 100%;
height: 100%;
transition: all .5s;
}

.fac figure figcaption{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .5s;
}

.fac figure figcaption a{
    text-decoration: none;
}

.fac figcaption a p{
    width: 100px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fac figure figcaption:hover{
    opacity: 1;
}

.fac figure:hover img{
    transform: scale(1.2);
}



.fac h2{
color: rgb(238, 255, 0);
margin-top: 20px;
text-align: center;
font-family: 'Poppins', sans-serif;
}

.fac > p{
color: white;
margin-top: 20px;
text-align: justify;
padding: 0px 15px;
font-size: 18px;
padding-bottom: 20px;
font-family: 'Farsan', cursive;
}

.ourfacilities span{
    margin-top: 50px;
}

.fac_button{
    display: grid;
    place-items: center;
    text-decoration: none;
    width: 100px;
    font-size: 17px;
    height: 40px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    transition: all .5s;
    font-family: 'Share', cursive;
    margin-top: 50px;
}

.fac_button:hover{
background-color:#002749;
border: 1px solid #002749;
color: rgb(255, 255, 255);
cursor: pointer;

}

.mainaboutus{
width: 100%;
margin-top: 100px;
}

.mainaboutus h1{
text-align: center;
font-family: 'Poppins', sans-serif;
color: rgb(83, 83, 83);
}

.aboutus{
width: 100%;
margin: auto;
margin-top: 10px;
padding: 30px;
}

.aboutus .container{
    margin: auto;
    display: flex;
}

.aboutus h5{
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.aboutus span img{
width: 400px;
height: 300px;
}

.aboutus .container p{
font-size: 19px;

color: rgb(0, 0, 0);
margin-left: 30px;
text-align: justify;
letter-spacing: .5px;
font-family: 'Farsan', cursive;
}

.aboutus button{
display: block;
width: 100px;
height: 40px;
background-color: rgb(255, 0, 0);
border: 1px solid red;
color: white;
margin: auto;
margin-top: 50px;
transition: all .5s;
font-family: 'Share', cursive;
font-size: 17px;
}

.aboutus a{
    text-decoration: none;
}

.aboutus button:hover{
background-color:#002749;
border: 1px solid #002749;
color: rgb(255, 255, 255);
cursor: pointer;
}

.mainwhyus{
margin-top: 70px;
}

.mainwhyus > h1{
text-align: center;
font-family: 'Poppins', sans-serif;
color: rgb(83, 83, 83);

}

.whyus{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;
margin-top: 30px;
width:100%;

}

.whyus .box{
display: flex;
box-shadow: 5px 5px 15px 0px;
width: 450px;
margin:0px 20px;
}

.whyus .box figure{
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.whyus .box figure img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.whyus .box figure figcaption{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .5s;
}

.whyus .box figure figcaption a{
    text-decoration: none;
}

.whyus .box figcaption a p{
    width: 100px;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.whyus .box figure figcaption:hover{
    opacity: 1;
}

.whyus .box figure:hover img{
    transform: scale(1.2);
}



.whyus .box section {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
}

.whyus .box section h1{
text-align: center;
color: white;
font-size: 45px;
font-family: 'Poppins', sans-serif;

}

.whyus .box section h2{
margin-top: 5px;
text-align: center;
font-family: 'Poppins', sans-serif;
color: white;
}

.whyus .box section p{
color: white;
margin-top: 10px;
text-align: center;
font-size: 20px;
font-weight: bold;
font-family: 'Poppins', sans-serif;
}

.whyus #box1{
background-color: rgb(255, 0, 0);
}


.whyus #box2{
background-color: rgb(0, 11, 167);
}

.ourprinciple{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourprinciple h1{
    text-align: center;
    color: rgb(83, 83, 83);
    font-family: 'Poppins', sans-serif;
}

.ourprinciple img{
    margin-top: 35px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.ourprinciple h2{
    margin-top: 30px;
    font-family: 'Farsan', cursive;
    color: red;
    font-size: 30px;
}

.maintrainedteachers{
margin-top: 100px;
}

.maintrainedteachers h1{
text-align: center;
font-family: 'Poppins', sans-serif;
color: rgb(83, 83, 83);
}

.trainedteachers{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
padding: 0px 30px;
}

.trainedteachers section{
display: flex;
justify-content: center;
margin: 30px 0px 50px 0px;
}

.trainedteachers img{
width: 300px;

}

.trainedteachers p{
color: rgb(0, 0, 0);
font-size: 19px;
letter-spacing: .5px;
margin-left: 30px;
text-align: justify;
font-family: 'Farsan', cursive;
}

.trainedteachers a{
    text-decoration: none;
}

.trainedteachers a button{
display: block;
width: 100px;
height: 40px;
background-color: rgb(255, 0, 0);
border: 1px solid red;
color: white;
transition: all .5s;
font-family: 'Share', cursive;
font-size: 17px;
}


.trainedteachers a button:hover{
color: rgb(255, 255, 255);
background-color:#002749;
border: 1px solid #002749;
cursor: pointer;
}

.maingallery{
margin-top: 70px;
}

.maingallery h1{
font-family: 'Poppins', sans-serif;
text-align: center;
color: rgb(83, 83, 83);
}

.gallery{
margin-top: 40px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.gallery figure{
    margin: 0px 10px;
    width: 300px;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.gallery figure img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.gallery figure figcaption{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .5s;
}

.gallery figure figcaption a{
    text-decoration: none;
}

.gallery figcaption a p{
    width: 100px;
    font-size: 15px;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.gallery figure figcaption:hover{
    opacity: 1;
}

.gallery figure:hover img{
    transform: scale(1.2);
}

.maingallery a{
    text-decoration: none;
}

.maingallery button{
display: block;
width: 100px;
height: 40px;
background-color: rgb(255, 0, 0);
border: 1px solid red;
color: white;
margin: auto;
margin-top: 30px;
transition: all .5s;
font-family: 'Share', cursive;
font-size: 17px;
}


.maingallery button:hover{
color: rgb(255, 255, 255);
background-color:#002749;
border: 1px solid #002749;
cursor: pointer;
}

.mainnews{
    width: 95%;
    margin: auto;
    margin-top: 70px;
}

.mainnews h1{font-size: 27px;
    width: 50%;
font-family: 'Poppins', sans-serif;
font-weight: bold;
color: rgb(83, 83, 83);
border-bottom: 3px solid rgb(255, 136, 0);
padding: 8px 0px;

}

.anouncementnews{
display: flex;
justify-content: space-between;
padding-top: 20px;
}

.anouncementnews marquee{
    box-shadow: 0px 0px 5px -3px;
width: 50%;
margin-top: 15px;
}


.anouncementnews ul li{list-style: none;
display: flex;
font-size: 14px;
justify-content: center;
}

.anouncementnews ul li a{text-decoration: none;
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
display: flex;
padding: 10px;
border-bottom: rgb(209, 209, 209) 1px solid;
width: 90%;
}

.anouncementnews marquee ul li:nth-child(7) a{
    border-bottom: none;
}

.anouncementnews ul li a p{margin-left: 10px;
}

.anouncementnews figure{
    width: 50%;
    display: grid;
    place-items: center;
}

.anouncementnews img{
    width: 150px;
    height: 200px;
    transform: rotate(180deg);
}

.mainevents{
    margin-top: 100px;
}

.mainevents h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(83, 83, 83);
}

.events{
    padding: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.events .box{
    background-color:darkred;
    box-shadow: 5px 5px 10px 0px;
    width: 285px;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
}

.events .box figure{
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.events .box figure img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.events .box figure figcaption{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all .5s;
}

.events .box figure figcaption a{
    text-decoration: none;
}

.events .box figure figcaption a p{
    width: 100px;
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.events .box figure figcaption:hover{
    opacity: 1;
}

.events .box figure:hover img{
    transform: scale(1.2);
}

.events .box h2{
    color: yellow;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
}

.events .box > p{
    font-family: 'Farsan', cursive;
    text-align: justify;
    padding:15px 15px;
    font-size: 18px;
    color: white;
}


.mainreview{
    margin: auto;
    margin-top: 80px;
    width: 85%;
}

.mainreview h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(83, 83, 83);
}

.review{
    display: flex;
    margin:20px 0px;
    overflow: auto;
}

.review::-webkit-scrollbar{
    display: none;
}

.review .box{
    width: 400px;
    background-color: rgba(240, 240, 240, 0.801);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 15px;
    border-radius: 5px;
}

.review #box1{
    margin: 20px 15px 20px 0px;
}

.review #box7{
    margin: 20px 15px 20px 0px;
}

.review .box img{
    margin: 10px 60px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.review .box h3{
    color: #002749;
    font-family: 'Poppins', sans-serif;
}

.review .box p{
    padding: 5px 10px;
    text-align: justify;
    font-family: 'Farsan', cursive;
}

.ratings{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.ratings i{
    margin: 0px 5px;
    color: rgb(241, 225, 0);
}

footer{
    width: 100%;
    background-color: #002749;
    margin-top: 100px;
    padding: 20px;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.logoname{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoname img{
    width: 120px;
}

.logoname h1{
    font-family: 'Signika', sans-serif;
    margin-top: 15px;
    color:  yellow;
    font-size: 23px;
    text-align: center;
}

footer .box{width: 200px;
    border-left: 2px solid rgba(119, 136, 153, 0.226);
    padding-left: 20px;
    color: white;
    margin-top: 20px;
}

footer .box h2{
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 21px;
}



footer .box ul{
    margin-top: 20px;
}

footer .box ul li{
    cursor: pointer;
    padding: 5px 10px;
    font-size: 17px;
    list-style: none;
    
}

footer .box ul li a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.subscribeemail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribeemail .container{
    display: flex;
    margin-top: 30px;
    
}

.subscribeemail input{
    height: 40px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    width: 230px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
}

.subscribeemail input:focus{
    outline: none;
}

.subscribeemail button{
    height: 40px;
    width:80px;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: red;
    color: white;
    font-family: 'Share', cursive;
    font-size: 17px;
    cursor: pointer;
    transition: all .5s;
}

.subscribeemail button:hover{
    background-color: yellow;
    color: red;
}

.fourthcol{
    margin-top: 30px;
}

.linkhead3{font-family: 'Poppins', sans-serif;
font-size: 18px;
color: rgb(255, 0, 0);
padding: 8px 0px;

text-align: center;
font-weight: bold;
}

.fourthcollinks{
    width: 130px;
    margin-top: 10px;
}

.fourthcollinks ul{display: flex;
justify-content: space-between;

}

.fourthcollinks ul a{text-decoration: none;
color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;   
}

.fourthcollinks ul a li{list-style: none;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100%;
background-color: rgba(105, 105, 105, 0.76);
transition: all 0.5s;
}

.fourthcollinks ul a li:hover{background-color: rgb(255, 0, 0);
color: black;
transition-timing-function: ease-in-out;
transition-duration: 0.5s;
}

.lastcontainer{
    display: flex;
    color: white;
    margin-top: 30px;
}

.findus{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footerhelplineicon{
    display: flex;
    width:220px; 
    
}
    
.footerhelplineicon i{
    font-size: 20px;
    color: white;
    width:40px;
    text-align: center;
}
    
.footerhelplineicon p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    display:flex;
    align-items: center;
}

.footermailicon{
    display: flex;
    width:220px;
    margin-top: 15px;
}
    
.footermailicon i{
    font-size: 20px;
    color: white;
    width:40px;
    text-align: center;
}
.footermailicon p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    display:flex;
    align-items: center;  
}



.lastcontainer span{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}











/* -----tablet screen-----*/




@media screen and (min-width:655px) and (max-width:709px){
    .timing{
        padding: 3px;
        font-size: 10px;
    }

    .timing section i{
        font-size: 16px;
    }

    .lastcontainer span{
        font-size: 12px;
    }

}

@media screen and (max-width:720px){
    .timing{
        padding: 5px 7px;
        font-size: 10px;
    }

    .timing section i{
        font-size: 18px;
    }

}


@media screen and (min-width:655px) and (max-width:965px){

    .firsthead{
        height: 110px;
        padding: 0px 10px;
    }

    .firsthead img{
        width: 85px;
    }

    .firsthead h1{
        font-size: 22px;
    }

    .sechead{
        height: 52px;
    }

    .sechead ul li{
        font-size: 14px;
    }

    .sechead ul li a{
        width: 90px;
    }

    .bgimg{
        height: 470px;
    }

    .bgimg .rgba{
        height: 100%;
    }

    .bgimg h1{
        width: 500px;
        font-size: 53px;
    }

    @keyframes slide{
        from{
            position: absolute;
            left: -100%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    
        to{
            position: absolute;
            left:40%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    }

    .facilities{
        margin-top: 0px;
    }

    .fac{
        width: 285px;
        margin-top: 40px;
    }

    .aboutus .container{
        flex-direction: column;
    }

    .aboutus span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutus .container p{
        margin:25px 0px;
    }

    .whyus{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .whyus .box{
        margin-top: 30px;
    }

    .trainedteachers section{
        flex-direction: column;
        align-items: center;
    }

    .trainedteachers img{
        width: 365px;
    }

    .trainedteachers p{
        margin-left: 0px;
        margin-top: 30px;
    }

    .gallery{
        flex-direction: column;
        align-items: center;
    }

    .gallery figure{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 410px;
        height: 280px;
    }

    .anouncementnews marquee{
        width: 100%;
    }

    .anouncementnews ul li a{
        font-size: 13px;
    }

    .events .box{
        margin-top: 30px;
        width: 285px;
    }

    footer{
        padding: 20px 14px;
    }

    .logoname img{
        width: 115px;
    }

    footer .box h2{
        font-size: 20px;
    }

    footer .box ul li{
        font-size: 16px;
    }

    .subscribeemail input{
        width: 167px;
        height: 35px;
    }

    .subscribeemail button{
        width: 70px;
        font-size: 13px;
        height: 35px;
    }

    .footerhelplineicon i{
        font-size: 18px;
    }

    .footerhelplineicon p{
        font-size: 15px;
    }

    .footermailicon i{
        font-size: 18px;
    }

    .footermailicon p{
        font-size: 15px;
    }

    .lastcontainer span{
        font-size: 15px;
    }


}


@media screen and (min-width:655px) and (max-width:730px){

    .lastcontainer span{
        font-size: 12px;
    }

    .logoname h1{
        font-size: 14px;
    }

    
}

@media screen and (min-width:731px) and (max-width:965px){

    .logoname h1{
        font-size: 22px;
    }
}









    /* -----Mobile screen-----*/



@media screen and (max-width:654px){

    header{
        height: 253px;
    }


    .firsthead{
        height:200px;
        display: block;
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .firsthead img{
        width: 90px;
    }

    .firsthead h1{
        font-size: 26px;
    }

    .timing{
        padding: 0px;
        margin-top: 20px;
        border: none;
        font-size: 12px;
    }

    .sechead{z-index:2;
        display: flex;
        justify-content: space-between;
        padding: 0px 18px;
        height: 53px; 
    }

    .sechead > ul{
        display: none;
    }

    .sechead a{
        text-decoration: none;
    }

    .sechead a i{
        font-size: 20px;
        color: #002749;
        display: block;
    }

    .bgimg{position: relative;
        height: 375px;

    }

    .bgimg h1{text-align: center;
        width: 100%;
        font-size: 35px;   
    }

    .bgimg .rgba{
        height: 100%;
    }

    .menu{
        display: block;
        background-color: rgba(0, 0, 0, 0.911);
        width: 100%;
        transition: all .5s;
        height: 0px; 
        visibility: hidden;    
    }
    
    .menu ul{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
    }

    .menu ul ul{
        display: none;
    }
    
    .menu ul li{
        list-style: none;
        font-size: 16px;
        transition: all .2s;
        font-family: 'Poppins', sans-serif;
    }
  
    .menu ul li a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu ul li:hover{
        background-color: yellow;
    }

    .menu ul li a i{
        margin-left: 10px;
    }

    .menu ul li:hover > ul{
        display: none;
    }

    .menu ul ul{
        display: none;
    }

    .menu ul li:hover a{
        color: rgb(255, 0, 0);
    }
    
    .sechead label i{
        cursor: pointer;
        font-size: 20px;
        display: block;
        color: #002749;
    }

    #slider:checked ~  .menu{
        height: 370px;
        visibility: visible;
    }

    



    @keyframes slide{
        from{
            position: absolute;
            left: -100%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    
        to{
            position: absolute;
            left:50%;
            top: 50%;
            transform: translate(-50% , -50%);
        }
    }

    .facilities{
        margin-top: 10px;
    }

    .fac{
        margin: 20px 10px;
        width: 285px;
    }

    .fac > p{
        font-size: 16px;
    }

    .ourfacilities button{
        font-size: 15px;
    }

    .aboutus{
        padding: 23px;
    }

    .aboutus .container{
        display: block;
    }

    .aboutus span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutus span img{
        width: 100%;
        height: 250px;
    }

    .aboutus .container p{
        margin-top: 20px;
        margin-left: 0px;
        font-size: 16px;
    }

    .aboutus button{
        font-size: 15px;
    }

    .whyus .box{
        margin: 15px 15px;
    }

    .whyus .box section h1{
        font-size: 40px;
    }

    .whyus .box section h2{
        font-size: 18px;
    }

    .whyus .box section p{
        font-size: 16px;
    }

    .trainedteachers{
        padding: 30px 20px 20px 20px;
    }

    .trainedteachers section{
        flex-direction: column;
    }

    .trainedteachers section img{
        width: 100%;
    }

    .trainedteachers p{
        margin-top: 20px;
        margin-left: 0px;
        font-size:16px;
    }

    .trainedteachers button{
        font-size: 15px;
    }

    .gallery{
        margin-top: 30px;
    }

    .gallery figure{
        width: 285px;
        margin: 10px;
    }

    .maingallery button{
        font-size: 15px;
    }

    .mainnews h1{
        width: 100%;
    }

    .anouncementnews marquee{
        width: 100%;
    }

    .anouncementnews ul li{
        font-size: 10px;
    }

    .anouncementnews figure{
        display: none;
    }

    .events{
        padding: 20px 0px;
    }

    .events .box{
        width: 285px;
        margin:20px;
    }

    footer{
        padding: 20px 10px;
    }

    footer > .container{
        flex-direction: column;
    }

    footer .box{
        border: none;
        margin: 40px 0px 20px 0px;

    }

    .subscribeemail input{
        width: 210px;
    }

    .subscribeemail button{
        font-size: 14px;
    }

    .lastcontainer{
        flex-direction: column;
        margin-top: 50px;
    }

    .footerhelplineicon i{
        font-size: 19px;
    }

    .footerhelplineicon p{
        font-size: 15px;
    }

    .footermailicon i{
        font-size: 19px;
    }

    .footermailicon p{
        font-size: 15px;
    }

    .lastcontainer span{
        font-size: 13px;
        flex-direction: column;
        margin-top: 30px;
        text-align: center;
        align-items: center;
    }

    .lastcontainer span h3{
        margin-top: 8px;
    }






}

@media screen and (max-width:385px){

    .firsthead img{
        width: 73px;
    }

    .firsthead h1{
        font-size: 21px;
    }

    .timing{
        padding: 0px;
        margin-top: 20px;
        border: none;
        font-size: 11px;
    }

    

}